<% for column in model_instance.class.content_columns -%>
<div><b><%= column.human_name %>:</b> <%%=h @<%= singular_name %>.<%= column.name %> %></div>
<% end -%>

<%%= link_to 'Edit', :action => 'edit<%= suffix %>', :id => @<%= singular_name %> %> |
<%%= link_to 'Back', :action => 'list<%= suffix %>' %>
