<%%= render :partial => "show", :locals => { :<%= singular_name %> => @<%= singular_name %> } %>

<%%= link_to 'Edit', :action => 'edit<%= suffix %>', :id => @<%= singular_name %> %> |
<%%= link_to 'Back', :action => 'list<%= suffix %>' %>
