<h1>Listing <%= plural_name %></h1>

<%%= render(:partial => "list", :locals => { :<%= singular_name %>_pages => @<%= singular_name %>_pages, :<%= plural_name %> => @<%= plural_name %> }) %>

<%%= link_to 'New <%= singular_name %>', new_<%= singular_name %>_url() %>
